.header{
    color: seagreen;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    background-color: cornflowerblue;
}
.li{
    color: indigo;
    font-size: 20px;
}
.td{
    color: blue;
    font-size: 15px
}